@page
@model IT2163_Assignment2_234695G.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<form method="post">
    <input type="email" asp-for="Input.Email" required placeholder="Email" />
    <input type="password" asp-for="Input.Password" required placeholder="Password" />
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a asp-page="Register">Register here</a></p>
